<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Fabián Rubilar A.
## 201510509-K

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [2]:
import pandas as pd
import os

In [3]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [4]:
print ("El numero de observaciones del conjunto de datos es:", df.shape[0] )

El numero de observaciones del conjunto de datos es: 943

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [5]:
print ("El numero de columnas del conjunto de datos es:", df.shape[1] )

El numero de columnas del conjunto de datos es: 4

3. Imprime el nombre de todas las columnas

In [6]:
#FORMA 1
print ("EL nombre de las columnas es:")
df.columns

EL nombre de las columnas es:

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [7]:
#FORMA 2
print ("EL nombre de las columnas es:")
list(df)

EL nombre de las columnas es:

['age', 'gender', 'occupation', 'zip_code']

4. Imprima el índice del dataframe

In [8]:
print ("El indice del dataframe es:" )
df.index

El indice del dataframe es:

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [9]:
print ("El tipo de datos de cada columna es:")
df.dtypes

El tipo de datos de cada columna es:

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [10]:
print ("El resumen del conjunto de datos es:")
df.describe()

El resumen del conjunto de datos es:

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [11]:
print ("El resumen del conjunto de datos con todas las columnas es:")
df.describe(include="all")

El resumen del conjunto de datos con todas las columnas es:

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [12]:
print ("La columna occupation es:")
df.occupation

La columna occupation es:

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [13]:
print ("El numero de ocupaciones diferentes que hay en este conjunto de datos es:")
len(df['occupation'].unique())

El numero de ocupaciones diferentes que hay en este conjunto de datos es:

21

In [14]:
print ("Las cuales son:")
list(df['occupation'].unique())

Las cuales son:

['technician',
 'other',
 'writer',
 'executive',
 'administrator',
 'student',
 'lawyer',
 'educator',
 'scientist',
 'entertainment',
 'programmer',
 'librarian',
 'homemaker',
 'artist',
 'engineer',
 'marketing',
 'none',
 'healthcare',
 'retired',
 'salesman',
 'doctor']

10. ¿Cuál es la ocupación más frecuente?

In [15]:
print ("Para responder la pregunta, basta ver la tabla del problema 7, es decir:")
print ("La ocupación más frecuente del conjunto de datos es STUDENT con frecuencia de 196.")

Para responder la pregunta, basta ver la tabla del problema 7, es decir:
La ocupación más frecuente del conjunto de datos es STUDENT con frecuencia de 196.

In [16]:
#OTRA FORMA ES:

ocup_frec=df.describe(include='all')
print ("La ocupacion mas frecuente del conjunto de datos es:")
ocup_frec['occupation'].top

La ocupacion mas frecuente del conjunto de datos es:

'student'

11. ¿Cuál es la edad media de los usuarios?

In [17]:
ed_med=df.describe(include='all')
ed_med['age'].mean

<bound method Series.mean of count     943.000000
unique           NaN
top              NaN
freq             NaN
mean       34.051962
std        12.192740
min         7.000000
25%        25.000000
50%        31.000000
75%        43.000000
max        73.000000
Name: age, dtype: float64>

In [18]:
print ("Por tanto la edad media de los usuarios es:")
ed_med['age']['mean']

Por tanto la edad media de los usuarios es:

34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [19]:
df_men_oc=df.groupby('age')['gender'].count()
min=df.groupby('age')['gender'].count().min()
df_men_oc=df_men_oc[df_men_oc==min]
print (df_men_oc)

age
7     1
10    1
11    1
66    1
73    1
Name: gender, dtype: int64

In [20]:
print ("Las edades con menos ocurrencia son:")
list(df_men_oc.index)

Las edades con menos ocurrencia son:

[7, 10, 11, 66, 73]